<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softjads.jorge.hellojesus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.softjads.jorge.hellojesus.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.softjads.jorge.hellojesus.topic.TopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.content.ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.speech.SpeechActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.softjads.jorge.hellojesus.speech.support.SpeechService"
            android:screenOrientation="portrait" />
        <service
            android:name="com.softjads.jorge.hellojesus.util.download.DownloadService"
            android:screenOrientation="portrait" />

        <receiver android:name="com.softjads.jorge.hellojesus.content.ContentFragment$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.softjads.jorge.hellojesus.progress.ProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.softjads.jorge.hellojesus.word.WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.write.WriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.helpApp.HelpAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.softjads.jorge.hellojesus.menuActivity.MenuWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.menu_cycle.CycleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.helloWord.HelloWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.tipWord.TipWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.softjads.jorge.hellojesus.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.softjads.jorge.hellojesus.login.LoginActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.softjads.jorge.hellojesus.widgets.MyWidgetProvider">
            android:permission="android.permission.BIND_REMOTEVIEWS" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name="com.softjads.jorge.hellojesus.widgets.WidgetActivity" />
        <activity android:name="com.softjads.jorge.hellojesus.util.about.AboutActivity" />
        <activity android:name="com.softjads.jorge.hellojesus.ad.AdActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>